@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg');
background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
    
}
#nav {
background-color: #6B9;
border-bottom: 2px dashed #487;
color: white;
font-weight: bold;
padding: 20px 0;
text-align: center;
word-spacing: 2em;
}

#header {
text-align: center;
margin-top: 40px;
}

#logo {
max-width: 360px;
width: 100%;
}

#description, #date {
max-width: 220px;
width: 100%;
}

.register_btn {
background-color: #E43;
border: 2px dashed #A43;
border-radius: 2em;
color: #FFF;
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-top: 25px;
padding: 15px 30px;
}

#logo {
    width: 500px;
}

#what h1 {
    text-align: center;
}

#what {
    text-align: start;
    color: #307486;
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(199, 238, 221, 0.9);
    padding: 10px 450px 20px;
}

#what h2 {
    text-align: center;
}
    
#id sponser_logos {
    color: #307486;
    text-align: center;
}

#why h1 {
    text-align: center;
}

#why {
    color: #307486;
    padding: 10px 450px 20px;
    background-color: #b6ead3;
}

#where h1 {
    margin: 20px 250px 10px;
}

#where {
    color: #bb4488;
    padding: 110px 390px 400px 0;
    text-align: end;
    background-image: url(img/map.gif);
    font-weight: bold;
}

#when h1, h2 {
    text-align: center;
}

#when {
    color: white;
    padding: 10px 450px 20px;
    background-image: url(img/wires.png);
    background-color: #439998;
    background-size: 50%;
}

#when h3  {
    border-top: 2px dashed white; 
    padding: 2%;
    
}

#who h1 {
    text-align: center;
}

#who {
    padding: 10px 450px 20px;
    background-color: #f5f5f5;
    color: #307486;
}

#footer {
       background-image: url(img/icon-twitter.svg), url(img/icon-facebook.svg),url(img/icon-itch.svg);
       width: 100px;
       height: auto;
       background-repeat: no-repeat, repeat-x;
}